<div class="container">
  <h3><%= @list.name %></h3>
  <p><em>Last updated <%= @list.updated_at %></em></p>
  <%= link_to new_list_bookmark_path(@list) do %>
    <i class="alert fa-solid fa-circle-plus"></i>
  <% end %>

<div class="cards">
  <% @list.bookmarks.each do |b| %>
    <div class="movie-card">

        <%= image_tag b.movie.poster_url, class: "poster" %>

        <div class="title">
          <%= b.movie.title %>
        </div>

        <div class="comment">
          <%= b.comment %>
        </div>

        <%= link_to bookmark_path(b), data: { turbo_method: :delete, turbo_confirm: 'Delete?' } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>

    </div>
  <% end %>
</div>
