<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar">
      <h3><%= link_to 'WatchList', lists_path %></h3>
      <%= link_to "Add new list", new_list_path, class: "btn btn-primary" %>
    </div>
    <%= yield %>
  </body>
</html>
